select [$Table].[FullName] as [FullName],
    [$Table].[Age] as [Age],
    [$Table].[Gender] as [Gender],
    [$Table].[Blood Type] as [Blood Type],
    [$Table].[Medical Condition] as [Medical Condition],
    [$Table].[Date of Admission] as [Date of Admission],
    [$Table].[Doctor] as [Doctor],
    [$Table].[Hospital] as [Hospital],
    [$Table].[Insurance Provider] as [Insurance Provider],
    [$Table].[Billing Amount] as [Billing Amount],
    [$Table].[Room Number] as [Room Number],
    [$Table].[Admission Type] as [Admission Type],
    [$Table].[Discharge Date] as [Discharge Date],
    [$Table].[Medication] as [Medication],
    [$Table].[Test Results] as [Test Results],
    [$Table].[Load_Date] as [Load_Date]
from [dbo].[ViewHealthCareData] as [$Table]